<div class="header-text">
    {{isEdit ? 'Edit Package': 'Add Package'}}
</div>
<div class="package-input-div">
    <form [formGroup]="packageFormGroup">
        <mat-form-field class="package-input"> 
            <mat-select formControlName="type" required>
                <mat-option *ngFor="let packageType of packageTypes" [value]="packageType.id">{{ packageType.type }}</mat-option>
            </mat-select>            
            <mat-label>Select Package Type </mat-label>
        </mat-form-field>
        <mat-form-field class="package-input">
            <mat-label>Weight (kg)</mat-label>
            <input id="weight" type="number" matInput placeholder="Weight" formControlName="weight" equired>
        </mat-form-field>
        <mat-form-field class="package-input"> 
            <mat-label>Length (cm)</mat-label>
            <input id="length" type="number" matInput placeholder="Length" formControlName="length" required>
        </mat-form-field>
        <mat-form-field class="package-input">
            <mat-label>Height (cm)</mat-label>
            <input id="height" type="number" matInput placeholder="Height" formControlName="height" required>
        </mat-form-field>
        <mat-form-field class="package-input">
            <mat-label>Width (cm)</mat-label>
            <input id="width" type="number" matInput placeholder="Width" formControlName="width" required>
        </mat-form-field>
        <mat-form-field class="package-input">
            <mat-label>Quantity</mat-label>
            <input id="quantity" type="number" matInput placeholder="Quantity" formControlName="quantity" required>
        </mat-form-field>
        <mat-form-field class="package-input">
            <mat-label>Contents</mat-label>
            <input id="contents" type="text" matInput placeholder="Contents" formControlName="contents" required>
        </mat-form-field>
        <mat-checkbox formControlName="isFragile">
            Fragile?
        </mat-checkbox>

        <div>
            <button mat-raised-button type="reset" (click)="closeModal()">Cancel</button>
            <button class="save-button" mat-raised-button color="primary" (click)="savePackage()">Save</button>
        </div>
    </form>
</div>