.nav-bar-custom {
    margin-bottom: 20px;
}

.example-container {
    width: 100%;
    height: 100%;
  }

  .close-drawer {
      cursor: pointer;
      height: 60px;
  }

  .open-drawer {
    position: absolute;
    left: 15px;
    top: 80%;
    height: 60px;
    border-radius: 40px;
    opacity: 0.5;
  }

  .open-drawer:hover {
    opacity: 1;
  }

  .sidenav-main-header {
      font-size: 22px;
      display: inline-block;
      margin-top: 10px;
  }

  .sidenav-title {
      margin-top: 3px;
      display: inline-block;
  }

  .menu-items-div {
      margin-top: 10px;
      font-size: 16px;
  }

  .menu-item {
    display: block;
    padding: 10px;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: #333;
    color: white;
  }

  .active-menu {
    background-color: #3f51b5;
    color: white;
  }

  .success-snackbar {
      background-color: green;
      color: white;
  }

  .error-snackbar {
    background-color: red;
    color: white;
  }
  
  .menu-item-btn {
    height: 60px;
    margin: 10px;
    width: 60px;
    border-radius: 35px;
  }

  .menu-icon {
    font-size: 27px;
    margin: 0px;
  }

  .header-icon {
    font-size: 44px;
    margin-right: 33px;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 24px;
  }