  <mat-drawer-container class="example-container" hasBackdrop="false" autosize>
    <mat-drawer color="primary" [style.width.px]="currentDrawerWidth" #drawer mode="side" opened>
      <div class="sidenav-main-header" [routerLink]="['/']">
        <mat-icon matTooltip="Warehouse Inventory" class="header-icon">home_work</mat-icon>
        <div class="sidenav-title" *ngIf="currentDrawerWidth == drawerWidth">Warehouse Inventory</div>
        
      </div>
      <div class="menu-items-div" *ngIf="currentDrawerWidth == drawerWidth">
        <span class="menu-item" [routerLink]="['/packages']" routerLinkActive="active-menu">Packages</span>
        <span class="menu-item" [routerLink]="['/package-types']" routerLinkActive="active-menu">Package Types</span>
      </div>
      <div class="menu-icons-div" *ngIf="currentDrawerWidth != drawerWidth">
        <button mat-raised-button matTooltip="Packages" [routerLink]="['/packages']" class="menu-item-btn">
          <mat-icon class="menu-icon">card_travel</mat-icon>
        </button>        
        <button mat-raised-button [routerLink]="['/package-types']" matTooltip="Package types" class="menu-item-btn">
          <mat-icon class="menu-icon">description</mat-icon>
        </button>
      </div>
      <button color="primary" class="open-drawer" mat-raised-button (click)="toggleDrawerWidth()" *ngIf="currentDrawerWidth != drawerWidth"><mat-icon>arrow_forward</mat-icon></button>
    </mat-drawer>
    <mat-drawer-content>
      <app-top-bar></app-top-bar>
      <mat-icon color="accent" class="close-drawer" (click)="toggleDrawerWidth()" *ngIf="currentDrawerWidth == drawerWidth">fast_rewind</mat-icon>      
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  
  