<div id="package-table">
    <div class="search-div">
        <mat-form-field class="search-field">
            <mat-label>Search</mat-label>
            <input matInput placeholder="" value="" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <button class="add-btn" mat-raised-button color="primary" (click)="addPackage()">Add Package</button>
    </div>
    <span id="packageTable">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="package-type">
                <th mat-header-cell *matHeaderCellDef> Package Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
      
            <ng-container matColumnDef="contents">
                <th mat-header-cell *matHeaderCellDef> Contents </th>
                <td mat-cell *matCellDef="let element"> {{element.contents}} </td>
            </ng-container>
      
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight (kg) </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
      
            <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef> Length (cm) </th>
                <td mat-cell *matCellDef="let element"> {{element.length}} </td>
            </ng-container>
      
            <ng-container matColumnDef="height">
                <th mat-header-cell *matHeaderCellDef> Height (cm) </th>
                <td mat-cell *matCellDef="let element"> {{element.height}} </td>
            </ng-container>
      
            <ng-container matColumnDef="width">
                <th mat-header-cell *matHeaderCellDef> Width (cm) </th>
                <td mat-cell *matCellDef="let element"> {{element.width}} </td>
            </ng-container>
      
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
      
            <ng-container matColumnDef="fragile">
                <th mat-header-cell *matHeaderCellDef> Fragile </th>
                <td mat-cell *matCellDef="let element"> 
                    <label *ngIf="element.isFragile === true">Yes</label>
                    <label *ngIf="element.isFragile === false">No</label> 
                </td>
            </ng-container>
      
            <ng-container matColumnDef="volume">
                <th mat-header-cell *matHeaderCellDef> Volume (cm) </th>
                <td mat-cell *matCellDef="let element">{{element.volume}}</td>
            </ng-container>
      
            <ng-container matColumnDef="buttons"> 
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <a class="icon-spacer"><mat-icon (click)="editPackage(element.id)">edit</mat-icon></a>
                    <a class="icon-spacer"><mat-icon (click)="deletePackage(element.id)">delete</mat-icon></a>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </span>    
  </div>

  <div class="package-cards-div">
    <mat-card class="package-card" *ngFor="let package of dataSource.filteredData">
        <mat-card-header>      
          <mat-card-title>Type: {{package.type}}</mat-card-title>
          <mat-card-subtitle>Contents: {{package.contents}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>        
            <div><mat-label>Weight: {{package.weight}}</mat-label></div>
            <div><mat-label>Length: {{package.length}}</mat-label></div>
            <div><mat-label>Height: {{package.height}}</mat-label></div>
            <div><mat-label>Width: {{package.width}}</mat-label></div>
            <div><mat-label>Quantity: {{package.quantity}}</mat-label></div>
            <div>
                Fragile
                <mat-label *ngIf="package.isFragile === true">Yes</mat-label>
                <label *ngIf="package.isFragile === false">No</label>
             </div>        
             <div><mat-label>Volume: {{package.volume}}</mat-label></div>        
        </mat-card-content>
        <mat-card-actions>
            <a class="icon-spacer"><mat-icon (click)="editPackage(package.id)">edit</mat-icon></a>
            <a class="icon-spacer"><mat-icon (click)="deletePackage(package.id)">delete</mat-icon></a>
        </mat-card-actions>
      </mat-card>
  </div>

  <div class="text-center" *ngIf="dataSource === null">
        <p id="no-search-results">No result found with given filter</p>
  </div>