.package-card {
    max-width: 300px;
    display: inline-block;
    margin: 20px;
    min-width: 240px;
}

.package-cards-div {
    display: none;
}

@media(max-width: 700px) {
    .package-cards-div {
        display: inline-block;
    }

    #packageTable {
        display: none;
    }

    .add-btn {
        float: left;
        margin-left: 8%;
    }
}