<div class="header-text">
    {{isEdit ? 'Edit Package Type': 'Add Package Type'}}
</div>
<div class="package-input-div">
    <form [formGroup]="packageTypeFormGroup">
        <mat-form-field class="package-input">
            <mat-label>Type</mat-label>
            <input id="type" type="text" matInput placeholder="Type" formControlName="type" required>
        </mat-form-field>
        <div>
            <button mat-raised-button type="reset" (click)="closeModal()">Cancel</button>
            <button class="save-button" mat-raised-button color="primary" (click)="savePackageType()">Save</button>
        </div>
    </form>
</div>