/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.header-text {
    font-size: 18px;
}

table, .mat-paginator {
    width: 80%;
    margin-left: 10%;
}

.icon-spacer {
  margin-left: 10px;
  cursor: pointer;
}

.add-btn {
  float: right;
  margin-bottom: 20px;
}

.search-div {
  margin-right: 10%;
}

.search-field {
  margin-left: 11%;
  width: 250px;
}