<div>
    <div class="search-div">
        <button class="add-btn" mat-raised-button color="primary" (click)="addPackageType()">Add Package Type</button>
        <mat-form-field class="search-field">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Enter search text here" value="" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
   
        <ng-container matColumnDef="buttons"> 
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <a class="icon-spacer"><mat-icon (click)="editPackageType(element.id)">edit</mat-icon></a>
                <a class="icon-spacer"><mat-icon (click)="deletePackageType(element.id)">delete</mat-icon></a>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="text-center" *ngIf="dataSource === null">
    <p id="no-search-results">No result found with given filter</p>
</div>